  .main_image {
    position: relative;
    color: #0d6efd
  }
  .main_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    text-align:left;
  }
  a {
     color: #0d6efd
  }
  label {
  margin-top: 10px;
  margin-left: 2%;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

  [type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}
  [type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}
  [type="checkbox"]:checked {
  background-color: tomato;
  border-color: tomato;
}
  [type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}
  [type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

    /* 스마트폰 */
    @media ( min-width: 320px ) {
      /* code part */
      .codebox {
        height:170px;
        width: 100%;
      }
      .codesize {
        font-size:1em
      }
      /* card */
      .t_size {
        font-size: 1em;
      }
      .banner_size {
        font-size: 1.2em;
        color:#8C8C8C
      }
      .card {
        border-radius: 15px;
        border: solid gray;
        width: 75%;
      }
       /* btn */
      .btn {
        background-color: #212529;
        color: #ebebeb;
        border-radius: 10px;
        width: 75%;
        height: 25px;
        font-size: 0.8em;
        border:none;
      }
      .btn:hover {
        background-color: #30363c;
      }
      /* etc */
      .txt-blue {
        color: #0d6efd
      }
      .br {
        height:70px
      }
      .btn-br {
        height:7px
      }
      .nt {
        font-size: 1.7em
      }
      .s {
        height:80px
      }
      .end-br{
        height:150px
      }
      .end {
        background-color: #212529;
        height: 200px;
      }
    }

    /* 태블릿 */
    @media ( min-width: 700px ) {
      /*code part */
      .codebox {
        height:200px;
        width: 100%;
      }
      .codesize {
        font-size:2em
      }
      /* card */
      .t_size {
        font-size: 1.2em;
      }
      .banner_size {
        font-size: 1.5em;
      }
      .card {
        border-radius: 15px;
        border: solid gray;
        width: 65%;
      }
       /* btn */
      .btn {
        background-color: #212529;
        color: #ebebeb;
        border-radius: 12px;
        width: 67%;
        height: 45px;
        font-size: 1.2em
      }
      .btn:hover {
        background-color: #30363c;
      }
      /* etc */
      .txt-blue {
        color: #0d6efd
      }
      .br {
        height:100px
      }
      .btn-br {
        height:13px
      }
      .gt {
        font-size: 1.3em;
      }
      .nt {
        font-size: 1.7em
      }
      .s {
        height:80px
      }
      .end-br{
        height:150px
      }
      .end {
        background-color: #212529;
        height: 200px;
      }
    }


    /* 컴퓨터 */
    @media ( min-width: 1024px ) {
      /* code part */
      .codebox {
        height:300px;
        width: 75%;
      }
      .codesize {
        font-size:2.3em
      }
      /* card */
      .t_size {
        font-size: 1.2em;
      }
      .banner_size {
        font-size: 2.1em;
        color:#8C8C8C
      }
      .card {
        border-radius: 15px;
        border: solid gray;
        width: 75%;
      }
      /* btn */
      .btn {
        background-color: #212529;
        color: #ebebeb;
        border-radius: 12px;
        width: 75%;
        height: 45px;
        font-size: 1.2em
      }
      .btn:hover {
        background-color: #30363c;
      }
      /* etc */
      .txt-blue {
        color: #0d6efd
      }
      .br {
        height:100px
      }
      .btn-br {
        height:13px
      }
      .gt {
        font-size: 1.3em;
      }
      .nt {
        font-size: 1.7em
      }
      .s {
        height:80px
      }
      .end-br{
        height:150px
      }
      .end {
        background-color: #212529;
        height: 200px;
      }
    }
